html, body, #app {
    height: 100%;
    margin: 0;
    padding: 0;
}

.el-breadcrumb {
    margin-bottom: 25px;
    font-size: 15px;

}

.el-card {
    box-shadow: 0 1 1 rgba(0, 0, 0, 0.15) !important;
}